{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>{{ channel.channelName }}</h2>
  <a href="{% url 'create_article' channel.id %}">Создать статью</a>
  {% for article in articles %}
    <div class="article">
      <h3><a href="{% url 'article_detail' article.id %}">{{ article.article_title }}</a></h3>
      <p>{{ article.article_content }}</p>
      <!-- Добавьте здесь любую другую информацию о статье, которую вы хотите отобразить -->
    </div>
  {% empty %}
    <p>No articles available for this channel.</p>
  {% endfor %}
{% endblock %}
