{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Избранные статьи</h2>

  {% if favorites %}
    <ul>
      {% for favorite in favorites %}
        <li>
          <a href="{% url 'article_detail' favorite.article.id %}">
            <h3>{{ favorite.article.article_title }}</h3>
          </a>
          <p>{{ favorite.article.article_description }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>У вас нет избранных статей.</p>
  {% endif %}
{% endblock %}
