<!DOCTYPE html>
<html>
<head>
    <title>BLog</title>
</head>
<body>
    <header>
        <a href="#">Logo</a>
        <nav>
            <ul>
                <li><a class="header__link" href="{% url 'channel_list' %}">Каналы</a></li>
                <li><a class="header__link" href="{% url 'favorites_list' %}">Избранное</a></li>
                <li><a class="header__link" href="{% url 'subscription_list' %}">Подписки</a></li>
                {% if user.is_authenticated %}
                    <li>{{ user.username }}</li>
                    <li><a class="header__reg-link" href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a class="header__reg-link" class="header__link" href="{% url 'register' %}">Зарегистрироваться</a></li>
                    <li><a class="header__reg-link" class="header__link" href="{% url 'login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 My Online Store. All rights reserved.</p>
    </footer>
</body>
</html>